#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blackbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2d2d2d;
  width: 700px;
  height: 400px;
  color: white;
  gap: 10px;
}

.wordbox {
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.inputbox {
  font-size: 24px;
  padding: 10px;
  width: 650px;
  text-align: center;
}

