#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cell {
  width: 100px;
  height: 100px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 24px;
  
}
.cell.winner {
  background: green;
}

.reset {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
