#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.black { background: black; }
.white { background: white; }


.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border:black solid 2px;
}

.cell.white {
  background: white;
}
.cell.gray {
  background: gray;
}
.cell.black {
  background: black;
}
.cell.red {
  background: red;
}